.navcenter {
    text-align: center;
    margin: auto;
}

head {
    display: inline-block;
    margin-top: 0px;
}

#headerstyling {
    color: lightgray;
    text-align: left;
    border-bottom: 2px solid rgba(188, 188, 208, 0.3);
}

h1,
h2,
h3 {
    text-align: center;
    color: white;
}

h3 span {
    display: inline-block;
    color: rgb(37, 37, 189);
    font-size: 2vw;
    padding: 10px 10px 10px 10px;
}

@media screen and (min-width: 250px) {
    h3 span {
        display: inline-block;
        color: rgb(37, 37, 189);
        font-size: 5.5vw;
        padding: 10px 10px 10px 10px;
    }
}

@media screen and (min-width: 620px) {
    h3 span {
        display: inline-block;
        color: rgb(37, 37, 189);
        font-size: 3.5vw;
        padding: 10px 10px 10px 10px;
    }
}

@media screen and (min-width: 800px) {
    h3 span {
        display: inline-block;
        color: rgb(37, 37, 189);
        font-size: 2.5vw;
        padding: 10px 10px 10px 10px;
    }
}

@media screen and (min-width: 980px) {
    h3 span {
        display: inline-block;
        color: rgb(37, 37, 189);
        font-size: 2vw;
        padding: 10px 10px 10px 10px;
    }
}

h2 span {
    display: inline-block;
    padding: 15px 15px 15px 15px;
}

h6 span {
    display: inline-block;
    color: rgb(37, 37, 189);
    font-size: 1.5vw;
}

@media screen and (min-width: 250px) {
    h6 span {
        display: inline-block;
        color: rgb(37, 37, 189);
        font-size: 4vw;
    }
}

@media screen and (min-width: 620px) {
    h6 span {
        display: inline-block;
        color: rgb(37, 37, 189);
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 800px) {
    h6 span {
        display: inline-block;
        color: rgb(37, 37, 189);
        font-size: 2vw;
    }
}

@media screen and (min-width: 980px) {
    h6 span {
        display: inline-block;
        color: rgb(37, 37, 189);
        font-size: 1.5vw;
    }
}

#borderpad {
    padding: 0px 15px 15px 15px;
}

.nav>li {
    display: inline-block;
    width: initial;
    float: left;
    white-space: nowrap;
}

.nav {
    display: inline-block;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.footer {
    background-color: #f5f5f5;
    text-align: center;
}

/* body {
    background-image: url("/images/background.jpg");
    background-size: 150% 150%;
    background-repeat: no-repeat;
} */

body {
    background: url("/images/background.jpg") no-repeat center center fixed;
    background-size: 150% 150%;
    height: 100%;
    /* overflow: hidden; */
  }

/* html { 
    background: url("/images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

.card-title {
    text-align: center;
    line-height: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    /* Set the fixed height of the footer here */
    line-height: 1px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
}

.abouttext {
    line-height: 32px;
    font-size: 25px;
}

.abouttextcontainer {
    padding-bottom: 30px;
}

hr {
    background-color: #fff;
      border-top: 2px solid #8c8b8b;
  }

.contactform {
    padding-left: 150px;
    padding-right: 150px;
}