<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./include/head %>

    </head>
    <body>
        <section class="contactform">

        <% include ./include/nav %>

            <div class="row">
                <h1>Thank you for your Enquiry!</h1>
            </div>
            <hr>
            <div class="row" style=color:white>
                <p>Thank you for contacting us. We will get back to you as soon as we can.</p>
            </div>
        </section>
        <% include ./include/footer %>
        <% include ./include/scripts %>
    </body>
</html>