<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/nav %>
        <div class="container">
            <div class="row">
                <h1>Thank you for your Enquiry!</h1>
            </div>
            <hr>
            <div class="row" style="height:300px;">
                <p>Thank you for contacting us.</p>
                <p>We failed to send you an email. Please enter different one.</p>
               
            </div>
        </div>
        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>